:root {
    /* Cores do projeto */
    --cor-proclean-green-light: #36B864;
    --cor-proclean-green-dark: #2aa053;
    --cor-proclean-green-dark2: #111D15;
    --cor-proclean-white: #ffffff;
    --cor-proclean-gray: #4d4d4d;

    /* Tamanho da fonte do projeto */
    --font-size: 10px
}


