html {
    font-size: var(--font-size);
}

@font-face {
    font-family: sauce;
    src: url(..//fonts/pepper-sauce.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;

}

.header {
    display: flex;
    justify-content:center;
    align-items: center;

}
.logo {
    /* border: 5px black solid;
    border-radius: 50%; */
    /* height: 150px;
    width: 150px; */
    height: auto;
    display: block;
}

.menu {
    width: 40%;
}

.btn-green {
    background-color: var(--cor-proclean-green-light);
    border: transparent;
    color: #fff;
    border-radius: 3px;
    padding: 10px 20px ;
    cursor: pointer;
    font-size: 1.5rem;
    width: 159px;
    line-height: 13px;
    text-align: center;
    min-height: 10px;
    text-shadow: 1px 1px 1px black;
    box-shadow: 4px 2px 9px black ;
    text-decoration: none;
}

.btn-green:hover {
    background-color: var(--cor-proclean-green-dark);
    box-shadow: -1px 1px 1px black ;

    
}

.menu-itens {
    display: flex;
    list-style-type: none;
    justify-content: center;
}


/* Menu header */
.item{
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 16px;
    color: #4d4d4d;
    font-size: 1.6rem;
    font-family: sause;
    color: var(--cor-proclean-gray);
    font-weight: 700;
}

/* .item:hover {
    background-color: aqua;
    
} */

.menu-itens li{
    margin: 1px;
}

.h1 {
    font-size: 5.6rem;
}

.active{
    color: var(--cor-proclean-green-light);
}

.container {
    max-width: 100%;
    margin: auto;
    height: 55px;

}

/* Main */

.main-clean {
    height: auto;
    background-image: url(../img/hero-image.png);
    background-repeat: no-repeat;
    /* background-color: blueviolet; */
    margin:0 auto;
    background-size: cover;
    width: 80%;
    padding-bottom: 50px;
    
}

.content-main {
    width: 50%;
    font-family: url(../fonts/pepper-sauce.ttf);
    color: var(--cor-proclean-green-dark2);
    padding: 65px 0 50px 110px;
}

.content-main > p:first-child {
    font-size: 2rem;
    color: var(--cor-proclean-green-dark2);
}

.content-buttons > a {
    display: block;
    margin-left: 30px ;    
}

.content-buttons {
    display: flex;
    width: 32%;
    padding-left: 70px;
    justify-content: flex-start;
}

.btn-green2 {
    background-color: #ffffff00;
}

.btn-green2:hover {
    background-color: #868282;
    text-shadow: -1px -1px -1px #000000
    
}



/* Section */

.section {
    margin: 480px;
    margin-left: 260px;
    font-size: 1.8em;

}

section > .btn-green {
    margin-top: 50px;
}

.foto-dupla {
  float: right;
  

}






/* 
/* .screen {
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    
    /* z-index: 10; */
/* } */

/* .modal {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    */
